jdbc/src/main/java/booking/parsers/xsd/passenger.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="passenger" type="passengerType"/>

    <xs:complexType name="passengerType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="bookingId" type="xs:int"/>
            <xs:element name="userId" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
